
<table class="racer_table">
<tr id="player1_strip">
<td id = "first_1" class="active"></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td id = "last_1"></td>
</tr>
<tr id="player2_strip">
<td id = "first_2" class="active"></td>
<td></td>
<td> </td>
<td></td>
<td></td>
<td> </td>
<td></td>
<td></td>
<td> </td>
<td></td>
<td id ="last_2"></td>
</tr>
</table>
