<div class="container">
  <h1>Ruby Racer!</h1>
  <form action='/login' method='post'>
    <input type= 'text' placeholder='playerone name' name='firstname'>
    <input type ='text' placeholder ='playertwo name' name= 'secondname'>
    <input type = 'submit' value ='submit'>
  </form>
</div>
